{% load static %}

  <style>

      .container {
          padding: 0;
          margin: 0 auto;
      }

      .container a {
          {# 모바일에선 거의 45%, 데스크탑에선 거의 250px로#}
          width: 45%;
          max-width: 250px;
      }

      .container div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
      }

      .container img {
          width: 100%;
          border-radius: 1rem;
      }

  </style>

  {% if article_list %}
  <div class="container">

    {% for article in article_list %}
      <a href="{% url 'articleapp:detail' pk=article.pk %}">
        {#  include 구문을 이용해서 밖의 article을 article 변수에 넘겨주는 것   #}
        {% include 'snippets/card.html' with article=article%}
      </a>
    {% endfor %}
  </div>
  {% else %}
    <div style="text-align: center">
      <h1>No Articles YET!</h1>
    </div>

  {% endif %}

  {% include 'snippets/pagination.html' with page_obj=page_obj %}

  <div style="text-align: center">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-4">
      Create Article
    </a>
  </div>
  
  <script src="{% static 'js/magicgrid.js' %}"></script>

